/* 공통 */
body {
    width: 100%;
    margin: 0 0 0 0;
}
.hidden {
    display: none;
}

/* 로그인 컨테이너 */
.login_container {
    width: 500px;
    height: 600px;
    border: 5px solid #72fcc8;
    border-radius: 10px;
    position: relative;
    left: 50%;
    margin-left: -250px;
    margin-top: 50px;
    text-align: center;
}
.login_container h1 {
    padding: 10px;
    margin: 30px;
}
#login_form #input_id {
    width: 300px;
    height: 30px;
    margin-top: 50px;
    border: 2px solid #a0ffd5;
    border-radius: 5px;
    font-size: 18px;
    text-indent: 10px;
}
#login_form #input_pw {
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #a0ffd5;
    border-radius: 5px;
    font-size: 18px;
    text-indent: 10px;
}
#login_form #login_submit {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: white;
}
#login_form #login_submit:hover {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    background: #f1f1f1;
}
#login_form #login_cancel {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: white;
}
#login_form #login_cancel:hover {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    background: #f1f1f1;
}
#login_form #sign_up {
    color: #808080;
    font-size: 12px;
}