@charset "utf-8";

/* 전체 옵션 */
* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Malgun gothic', 'Sans-Serif', 'Arial';
}

/* 공통 옵션 */
.hidden {
    display: none;
}
.boundary{
    width: 100%;
    height: 50px;
}
body {
    width: 100%;
    background: #f1f1f1;
}
.header {
    width: 100%
}
a {
    text-decoration: none;
}

/* 로그인, 로그아웃, 회원가입 */
.login {
    width: 100%;
    position: fixed;
    background: lightblue;
    opacity: 0.8;
    z-index: 5;
}
.login_info {
    width: 98%;
    height: 50px;
    padding: 1rem;
    margin: 0;
    float: right;
    text-align: right;
    justify-content: right;
    z-index: 6;
}
.user_login {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    bottom: 25px;
}
#title {
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    position: relative;
    text-align: center;
    top: 5px;
}

/* 영화 포스터 목록 */
#movie_poster_list {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: ridge;
    border-radius: 5px;
    width: 96.2%;
    position: relative;
    top: 100px;
    background: white;
}
#movie_poster_list img{
    width: auto;
    height: auto;
    resize: both;
    max-width: 300px;
    height: auto;
    margin: 10px 0;
}

/* 리뷰 목록 */
.review_container {
    margin-top: 50px;
    width: 95%;
    padding: 10px;
    position: relative;
    top: 80px;
    border: ridge;
    border-radius: 5px;
    background: white;
}
.tab_content {
    position: relative;
    text-align: center;
    margin: 5px
}
.review_list {

}
.review_list thead th {
    height: 40px;
    border-top: 3px solid #09C;
    border-bottom: 2px solid rgba(0, 153, 204, 0.88);
    font-weight: bold;
    font-size: 17px;
}
.review_list tbody td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    height: 20px;
    font-size: 14px;
}
/* 리뷰 탭 */
.review_tabs {
    position: relative;
    left: 7px;
}
.clicked {
    width: 140px;
    height: 50px;
    border: 2px solid #34495e;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 0px 0px;
}
.clicked a{
    font-family: arial;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    transition: all .1s ease;
    z-index: 2;
    position: relative;
}
.eff-1{
    width: 140px;
    height: 50px;
    border: 70px solid #34495e;
    position: absolute;
    transition: all .1s ease;
    z-index: 1;
    box-sizing: border-box;
}
.clicked:hover .eff-1{
    border: 0px solid #34495e;
}
.clicked:hover a{
    color: #34495e;
}
.non_clicked {
    width: 140px;
    height: 50px;
    border: 2px solid #34495e;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 0px 0px;
}
.non_clicked a {
    font-family: arial;
    font-size: 16px;
    color: #34495e;
    text-decoration: none;
    line-height: 50px;
    transition: all .1s ease;
    z-index: 2;
    position: relative;
}
.eff-2 {
    width: 140px;
    height :50px;
    border: 0px solid #34495e;
    position: absolute;
    transition: all .1s ease;
    z-index: 1;
    box-sizing: border-box;
}
.non_clicked:hover .eff-2{
    border: 70px solid #34495e;
}
.non_clicked:hover a{
    color: #fff;
}
#option_search {
    width: 150px;
    height: 48px;
    margin-left: 50px;
    font-size: 17px;
    position: relative;
    left: 90px;
    top: 1px;
    text-align-last: center;
    text-align: center;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
#input_search {
    padding: 5px;
    height: 34px;
    width: 600px;
    font-size: 20px;
    text-indent: 10px;
    position: relative;
    top: 2px;
    left: 100px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    border-radius: 10px;
}
#btn_search {
    width: 150px;
    height: 48px;
    position: relative;
    top: 2px;
    left: 110px;
    font-size: 20px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: white;
}
#btn_search:hover {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    background: #f1f1f1;
}
#btn_review_board {
    width: 150px;
    height: 48px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 2px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: white;
}
#btn_review_board:hover {
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: #f1f1f1;
}


/* 통계 목록 */
.chart {
    width: 95%;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    border: ridge;
    border-radius: 5px;
    background: white;
}
.chart h1, #review_date_chart {
    position: relative;
    left: 50%;
}
.chart h1 {
    width: 300px;
    margin: 5px 0 20px -150px;
}
.chart #review_date_chart {
    width: 900px;
    height: 500px;
    margin: 5px 0 20px -450px;
}
.date_line_graph h1 {
    text-align: center;
}
#btn_tot_chart {
    width: 150px;
    height: 48px;
    font-size: 20px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: white;
    float: right;
}
#btn_tot_chart:hover {
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: #f1f1f1;
}