/* 공통 */
body {
    width: 100%;
    margin: 0 0 0 0;
}
.hidden {
    display: none;
}

.review_write {
    width: 600px;
    margin: 10px 0 0 -300px;
    border-right: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    position: relative;
    left: 50%;
}
.review_write h1, h4 {
    width: 300px;
    margin: 20px 0 20px -150px;
    position: relative;
    left: 50%;
    text-align: center;
}

#write_area {
    width: 500px;
    margin: 10px 0 0 -250px;
    position: relative;
    left: 50%;
}

#id_content {
    width: 400px;
}

#write_area textarea {
    width: 500px;
    height: 30px;
    resize: none;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    font-size: 16px;
    text-indent: 5px;
}

.btn_sub {
    text-align: center;
}
.btn_sub button {
    width: 80px;
    height: 30px;
    font-size: 15px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: white;
}
.btn_sub button:hover {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    background: #f1f1f1;
}

/*#btn_submit, #btn_cancel {*/
/*    margin: 5px 5px 5px -40px;*/
/*    position: relative;*/
/*    left: 50%;*/
/*}*/