/* 공통 */
body {
    width: 100%;
    margin: 0 0 0 0;
}
a {
    text-decoration: none;
}
.hidden {
    display: none;
}

/* 헤더 */
.header {
    width: 100%;
    height: 82px;
    position: fixed;
    background: lightblue;
    opacity: 0.8;
    font-size: 20px;
    z-index: 6;
}
.header h4 {
    position: relative;
    margin-top: 22px;
    text-align: center;
    font-family: "맑은 고딕 Semilight";
    font-weight: bold;
    font-size: 24px;
}
.blank {
    height: 60px;
}

/* 리뷰 작성 틀 */
.review_write {
    width: 50%;
    padding: 20px;
    align-items: center;
    border-right: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    position: relative;
    left: 50%;
    margin-left: -25%;
    margin-top: 10px;
}
#write_area table {
    width: 80%;
    min-height: 400px;
    padding: 15px 15px 0 15px;
    background: #f3f3f3;
    /*border: 2px solid #f3f3f3;*/
    /*border-radius: 10px;*/
    border-spacing: 0;
    text-indent: 10px;
    position: relative;
    left: 50%;
    margin-left: -40%;
}
#write_area table #utitle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#write_area table tbody #td {
    width: 100%;
    height: 30px;
    padding: 0;
    background: white;
    border: 2px solid #f3f3f3;
}
#write_area table tbody td input {
    width: 96%;
    height: 24px;
    margin: 0;
    border: none;
}
#write_area table tbody td input:focus {
    outline: none;
}
#write_area table #in_score {

}
#write_area table #ucontent {
    width: 96%;
    height: 380px;
    resize: none;
    border: none;
}
#write_area table #ucontent:focus {
    outline: none;
}
.btn_sub {
    width: 80%;
    position: relative;
    left: 50%;
    margin-left: -40%;
}
.btn_sub button {
    width: 80px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: white;
    float: right;
}
.btn_sub button:hover {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    background: #f1f1f1;
}



/* 에디터 */
#summer_td {
    background: white;
}