/* 공통 */
.hidden {
    display: none;
}
body {
    width: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}

/* 헤더 */
.header {
    width: 100%;
    height: 82px;
    position: fixed;
    background: lightblue;
    opacity: 0.8;
    font-size: 20px;
    z-index: 6;
}
.header h4 {
    position: relative;
    margin-top: 22px;
    text-align: center;
    font-family: "맑은 고딕 Semilight";
    font-weight: bold;
    font-size: 24px;
}
.blank {
    height: 80px;
}

/* 검색창 */
.board {
    position: relative;
    left: 15px;
    display: flex;

}
.board #option_search {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    text-align-last: center;
    text-align: center;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
.board #input_search {
    width: 300px;
    height: 24px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    border-radius: 5px;
}
.board #btn_search {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
.board #btn_search:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
}

/* 리뷰 리스트 */
/*.review_board {*/
/*    width: 95%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.board01 {
    width: 95%;
    position: absolute;
    left: 50%;
    margin-left: -47.5%;
}
.board01 h1 {
    margin-top: 30px;
    margin-left: 10px;
}
#table_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#review_table {
    width: 1800px;
}
#review_table thead th {
    height: 40px;
    border-top: 3px solid #09C;
    border-bottom: 2px solid rgba(0, 153, 204, 0.88);
    font-weight: bold;
    font-size: 17px;
}
#review_table tbody td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    height: 20px;
    font-size: 14px;
}

/* 페이지 */
#page_num {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
    margin: 10px;
}
#page_num ul li {
    float: left;
    margin: 10px;
    text-align: center;
    list-style: none;
}
.fo_re {
    font-weight: bold;
    color: red;
}
.review_write {
    width: 20%;
    position: relative;
    bottom: 70px;
    left: 15px;
}
#btn_write {
    width: 200px;
    height: 50px;
    font-size: 15px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
#btn_write:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
}