/* 공통 */
body {
    width: 100%;
    margin: 0 0 0 0;
}
.hidden {
    display: none;
}

/* 회원가입 컨테이너 */
.signin_container {
    width: 700px;
    height: 600px;
    padding: 20px;
    border: 5px solid #72fcc8;
    border-radius: 10px;
    position: relative;
    left: 50%;
    margin-left: -350px;
    margin-top: 50px;
}
.signin_container h1 {
    text-align: center;
}

/* input */
#uid {
    width: 320px;
    height: 30px;
    font-size: 18px;
    margin: 10px;
    text-indent: 5px;
    position: relative;
}
#upw {
    width: 320px;
    height: 30px;
    font-size: 18px;
    margin: 10px;
    text-indent: 5px;
}
#r_upw {
    width: 320px;
    height: 30px;
    font-size: 18px;
    margin: 10px;
    text-indent: 5px;
}
#uname {
    width: 320px;
    height: 30px;
    font-size: 18px;
    margin: 10px;
    text-indent: 5px;
}
#uemail_id {
    width: 145px;
    height: 30px;
    font-size: 18px;
    margin: 10px 0 10px 10px;
    text-indent: 5px;
}
#uemail_adr {
    width: 145px;
    height: 35px;
    font-size: 18px;
    margin: 10px 10px 10px 0;
    text-indent: 5px;
}
/* btn */
#btn_id_chk {
    width: 100px;
    height: 35px;
    font-size: 17px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    position: relative;
}
#btn_id_chk:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
}
#btn_email_chk {
    width: 100px;
    height: 35px;
    font-size: 17px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
#btn_email_chk:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
}
#btn_signin {
    width: 100px;
    height: 35px;
    font-size: 17px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
#btn_signin:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
}
#btn_cancel {
    width: 100px;
    height: 35px;
    font-size: 17px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
#btn_cancel:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
}

#btn_sub {
    padding: 20px;
    text-align: center;
}

/* div */
.id_input {
    width: 70%;
    margin-left: 100px;
}
.pw_input {
    width: 70%;
    margin-left: 100px;
}
.r_pw_input {
    width: 70%;
    margin-left: 100px;
}
.name_input {
    width: 70%;
    margin-left: 100px;
}
.email_input {
    width: 70%;
    margin-left: 100px;
}

/* chk string */
#id_chk_ok {
    font-size: 12px;
}
#eql {
    font-size: 12px;
}
#n_eql {
    font-size: 12px;
    color: red;
}
#email_chk_ok {
    font-size: 12px;
}
