/* 전체 옵션 */
* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Malgun gothic', 'Sans-Serif', 'Arial';
    /*box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
}

/* 공통 옵션 */
.hidden {
    display: none;
}
.boundary{
    width: 100%;
    height: 50px;
}
body {
    width: 100%;
    background: #f1f1f1;
}
.header {
    width: 100%
}

/* 헤더 */
.header {
    width: 100%;
    height: 82px;
    position: fixed;
    background: lightblue;
    opacity: 0.8;
    font-size: 20px;
    z-index: 6;
}
.header h4 {
    position: relative;
    margin-top: 22px;
    text-align: center;
    font-family: "맑은 고딕 Semilight";
    font-weight: bold;
    font-size: 24px;
}
.blank {
    height: 60px;
}

h1 {
    text-align: center;
    margin: 20px;
}

#movie_poster_list {
    width: 800px;
    height: 350px;
    border: 3px solid #CCCCCCFF;
    border-radius: 5px;
    text-align: center;
}
#movie_poster_list img {

}

.chart_area {
    text-align: center;
}