/* 공통 */
body {
    width: 100%;
    margin: 0 0 0 0;
}
a {
    text-decoration: none;
}
.hidden {
    display: none;
}

/* 헤더 */
.header {
    width: 100%;
    height: 82px;
    position: fixed;
    background: lightblue;
    opacity: 0.8;
    font-size: 20px;
    z-index: 6;
}
.header h4 {
    position: relative;
    margin-top: 22px;
    text-align: center;
    font-family: "맑은 고딕 Semilight";
    font-weight: bold;
    font-size: 24px;
}
.blank {
    height: 80px;
}

/* 테이블 */
#user_table {
    width: 500px;
    margin: 20px 20px 20px -250px;
    border: 3px solid #D9D9D9FF;
    border-radius: 10px;
    position: relative;
    left: 50%;
    border-spacing: 0;
}
#user_table th {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-right: 1px solid #D9D9D9FF;
}
#user_table #th_id {
    border-bottom: 1px solid #D9D9D9FF;
}
#user_table #th_email {
    border-bottom: 1px solid #D9D9D9FF;
}
#user_table #th_name {
    border-bottom: 1px solid #D9D9D9FF;
}
#user_table #th_review {
    border-bottom: 1px solid #D9D9D9FF;
}
#user_table #th_co {

}
#user_table td {
    font-size: 18px;
    text-indent: 15px;
}

/* 리뷰 리스트 */
.user_review {
    text-align: center;
}
.user_review h2 {
    margin: 40px 0 0 20px;

}
#review_table {
    width: 1200px;
    position: relative;
    left: 50%;
    margin: 10px 10px 10px -600px
}
#review_table th {
    height: 40px;
    border-top: 3px solid #09C;
    border-bottom: 2px solid rgba(0, 153, 204, 0.88);
    font-weight: bold;
    font-size: 18px;
}
#review_table td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    height: 20px;
    font-size: 16px;
}

/* 댓글 리스트 */
.user_comment {
    text-align: center;
}
.user_comment h2 {
    margin: 40px 0 0 20px;

}
#comment_table {
    width: 1200px;
    position: relative;
    left: 50%;
    margin: 10px 10px 10px -600px
}
#comment_table th {
    height: 40px;
    border-top: 3px solid #09C;
    border-bottom: 2px solid rgba(0, 153, 204, 0.88);
    font-weight: bold;
    font-size: 18px;
}
#comment_table td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    height: 20px;
    font-size: 16px;
}

/* 차트 리스트 */
.user_chart {
    text-align: center;
}
.user_chart h2 {
    margin: 40px 0 0 20px;
}
.chart_content {
    position: relative;
    top: 40px;
}
.chart_content svg {
    width: 800px;
    height: 400px;
}

/* btn */
.chart_tabs button {
    width: 100px;
    height: 35px;
    margin: 0 10px 0 10px;
    font-size: 17px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    position: relative;
    top: 30px;
}
.chart_tabs button:hover {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
}